:root {
    --secondary: #50a584
}

/* @font-face {
    font-family: MyFont;
    src: url('monumentextended-freeforpersonaluse/MonumentExtended-FreeForPersonalUse/MonumentExtended-Ultrabold.otf');
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 1.5rem;
}

.background-poster {
    background: url('./images/leveldays.jpg');
    width: 1024px;
}

.background-page .background-poster {
    filter: blur(5px) brightness(38%);
}

.background-poster {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1%;
    left: -1%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    background-color: #000;
}

/* Nav bar */


body>header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    pointer-events: none;
}

.nav-content img {
    height: 50px;
    width: 50px;
}

.nav-header .nav-content {
    display: flex;
    justify-content: space-between;
    margin: 2% 7%;
}



.nav-content button {
    font-weight: 600;
    background: transparent;
    border: solid 1px #F1F1F1;
    border-radius: 0;
    cursor: pointer;
    display: inline-flex;
    position: relative;
    padding: 0;
    border-color: transparent;
    background-color: transparent;
    /* transition: none; */
    color: #F1F1F1;
    font-size: 24px;
    pointer-events: initial;
}

.nav-content ul {
    position: absolute;
    list-style: none;
    right: calc(8% - 2px);
}

.nav-content ul {
    margin-top: 5%;
}

.nav-content ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.nav-content ul li a i {
    font-size: 20px;
}

.nav-content ul li {
    margin-top: 15px;
}

.nav-content button i {
    width: 50px;
    height: 50px;
}

/* End of header styling */

/* Article content styling */

article {
    margin: 5% 8%;
}

/* album-cover styling */
.coverimg {
    position: relative;
}

.coverimg img {
    width: 400px;
    height: 400px;
}

.coverimg .rotate {
    position: absolute;
    transform: rotate(-90deg);
    bottom: 0;
    top: 0;
    right: 24%;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #f1f1f1;
    font-family: Montserrat,
        Helvetica,
        Arial,
        sans-serif;
    letter-spacing: 5%;
}

.coverimg .rotate span {
    color: var(--secondary);
}

.album-cover-div {
    display: flex;
    justify-content: space-between;
    margin: 10% 10%;
}

.album-cover-div .album-music {
    margin-top: 7rem;
    margin-right: 10%;
}

.album-cover-div .album-music h1 {
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    margin-bottom: 3%;
    letter-spacing: 5px;
}

.album-cover-div .album-music p {
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    margin-bottom: 15%;

}

.album-button {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.album-button button.listen {
    background-color: var(--secondary);
    border: none;
    width: 18vw;
    height: 50px;
    color: #fff;
    text-align: center;
    font-family: 'monumentextended', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    padding: 4% 10%;

}

.album-button button.listen:hover,
.album-button button.share:hover {
    background-color: #fff;
    color: #000;
}

.album-button button.share {
    background: transparent;
    border: 2px solid #fff;
    width: 10vw;
    height: 50px;
    color: #fff;
    text-align: center;
    font-family: 'monumentextended', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 3%;
}

/* End of styling for album-styling section */